/* 共通----------------------- */

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

body {
	margin:0;
	margin:none;
}

.back {
	background-color:#badcad;
	padding-top:40px;
	padding-bottom:40px;
	margin-top:100px;
}

.header {
	height:80px;
	width:100%;
	position:fixed;
	top: 0;
  	left: 0;
  	z-index: 1;
  	transition: all 0.8s ease;
  	-webkit-transition: all 0.8s ease;
 	-moz-transition: all 0.8s ease;
  	-o-transition: all 0.8s ease;
}
.header.scroll-header{
	height:60px;
	background-color:white;
	border-bottom:solid 1px gray;
	opacity:0.8;
}
.title {
	float:left;
	font-size:35px;
	padding:10px 0 0 50px;
	transition: all 0.8s ease;
  	-webkit-transition: all 0.8s ease;
 	-moz-transition: all 0.8s ease;
  	-o-transition: all 0.8s ease;
}
.title.scroll-header{
	padding:10px 0 0 80px;
	font-size:28px
}

.head-link {
	float:right;
	padding:15px 50px 0 0;
	font-size:20px;
	transition: all 0.8s ease;
  	-webkit-transition: all 0.8s ease;
 	-moz-transition: all 0.8s ease;
  	-o-transition: all 0.8s ease;
}
.head-link.scroll-header{
	padding:10px 70px 0 0;
}

.link-btn{
	border:solid 1px #d6e9ca;
	border-radius:8px;
	padding:4px 10px 4px;
	background-color:#d6e9ca;
	margin:0 3px;
	display:inline-block;
}
.link-btn:hover{
	background-color:#eae5e3;
	border:solid 1px #f5f5f5;
}


.error-message{
	background-color:#ffa8d3;
	padding:5px 0 ;
	border-radius:6px;
	margin-top:20px;
}
.success-message{
	background-color:#59b9c6;
	padding:5px 0;
	border-radius:6px;
	margin-top:20px;
	text-align:center;
}
.heading{
	font-size:25px;
	text-align:center;
	padding:5px 0 5px 0;
	margin-bottom:10px;
	background-color:#e6e6fa;
}

table{
	border: none;
	border-spacing: 0 10px;
}

th{
	padding:5px 8px 5px;
	background-color:#faf0e6;
	border-bottom: solid 1px #666;
}
td{
	padding:5px 8px 5px;
	text-align:center;
}

ul li {
    list-style: none;
    text-align:center;
}
label {
    width:170px;
    float: left;
    text-align:center;
}
ul {
    width: 440px;
    margin: 0 auto;
    padding:0;
}
li{
	padding:4px;
}
.submit{
	text-align:center;
}
/* 共通-------------------------- */




/* Home-------------------------- */

.search-box {
	width:400px;
	margin:15px auto;
	padding:10px;
	background-color:#f0f8ff;
	text-align:center;
	border-radius:6px;
	box-shadow: 2px 2px 4px gray;
}
.search-message{
	background-color:#f0f8ff;
	text-align:center;
	width:600px;
	margin:0 auto 20px;
	padding:20px;
	border-radius:5px;
	box-shadow: 2px 2px 4px gray;
}
.main-content {
	width:600px;
	margin:0 auto;
	padding:40px;
	border:solid 1px white;
	border-radius:6px;
	background-color:white;
	box-shadow: 2px 2px 4px gray;
}
.post-box{
	margin-bottom:60px;
	padding:5px;
	border:solid 1px white;
	border-radius:6px;
	background-color:white;
	box-shadow: 2px 2px 5px gray;

}
.posts {
	border:solid 1px gray;
	border-radius:5px;
	padding:5px;
}
.post-content{
	width:560px;
	white-space:pre-line;
	font-size:17px;
	margin-bottom:10px;
}
.comment-box {
	padding:8px 0 8px 15px;;
	margin-top:5px;
}
.comments {
	border:solid 1px gray;
	border-radius:5px;
	padding:5px;
	margin:4px 0 4px 0;
}
.comment-content{
	white-space:pre-line;
	font-size:14px;
	margin-bottom:15px;
}
.post-title {
	font-size:20px;
	font-weight:bold;
	text-align:center;
	padding:5px 0 5px 0;
	background-color:#e6e6fa;
}
.category{
	text-align:center;
	margin:8px 0 0 0;
}
.category-line{
	background-color:#89c3eb;
	height:2px;
	width:180px;
	border:solid 1px #89c3eb;
	border-radius:3px;
	margin:0 auto 8px;
}
.post-data1 {
	font-size:18px;
	color:#006e54;
}
.post-data2 {
	font-size:14px;
	color:#006e54;
}
.post-date {
	float:right;
}
.delete-btn{
	float:right;
}

/* Management-------------------------- */
.main-content-wide {
	width:750px;
	margin:0 auto;
	padding:40px 20px;
	border:solid 1px white;
	border-radius:6px;
	background-color:white;
	box-shadow: 2px 2px 4px gray;
}

.link-btn2{
	border:solid 1px #e6e6fa;
	border-radius:8px;
	padding:3px 7px 3px;
	background-color:#f0f8ff;
}
.link-btn2:hover{
	background-color:#e6e6fa;
}
.table{
	width:665px;
	margin:30px auto;
	padding-left:15px;
	box-shadow: 2px 2px 4px gray;
}



/* Footer-------------------------- */

.footer{
	background-color:#006e54;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	color:white;
}